/* apps/web/src/index.css */

:root {
  /* Paleta Minimalista (Slate / Gray) */
  --bg-body: #f8fafc;       /* Fondo gris muy claro */
  --bg-card: #ffffff;       /* Fondo blanco puro */
  --text-main: #0f172a;     /* Negro azulado para títulos */
  --text-muted: #64748b;    /* Gris medio para subtítulos */
  --border-color: #e2e8f0;  /* Bordes muy sutiles */
  
  --primary: #0f172a;       /* Botón primario (Negro sólido) */
  --primary-hover: #334155;
  
  --accent: #3b82f6;        /* Azul suave para focos/detalles */
  --danger: #ef4444;

  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
 
  color-scheme: light;
  color: var(--text-main);
  background-color: var(--bg-body);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; /* Texto más nítido */
}

h1, h2, h3, p {
  margin: 0;
}